@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

body{
  background: fixed url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/bright_squares.png');
  position:relative;
}

.navbar-brand{
  padding:5px;
  padding-left : 20px;
  height:50px;
  position : relative;
}

.navbar-brand img{
  height: 100%;
}

.thumbnail{
  max-width : 500px;
  margin-left:auto;
  margin-right:auto;
}

.shadow{
  box-shadow: 7px 7px 7px #666;
   position : relative;
  transition : all 0.2s;
  top : 0;
}
.cust-caption{
  display:none;
  position: absolute;
  background-color: rgba(30,30,30,0.8);
  padding : 10px;
  color:#ddd;
  margin:5px;
  bottom:0;
  left:0;
  right:0;
  height : 60%;
  margin:5px;
  overflow-y : auto;
}

.stm-font{
  font-family: 'Share Tech Mono',monospace;
}

.color-hover:hover{
	color : #337AB7;
}

.up-hover:hover {
  top :-5px;
  box-shadow: 15px 15px 15px #777;
}

.cust-caption a{
  color:white;
  
  text-shadow:1px 1px 2px black;
}


.head h1{
  color : white;
}


.heading{ 
  text-align : center;
  padding : 10px;
}

#about p{
	font-size : 1.2em;
		position : relative;
	left : 10px;
}



.logo{
	padding-top:50px;
}

.logo img{
  position:relative;
  width:100%;
  max-width : 450px;
  margin:auto;
}

.avatar{
 display: block;
	position:relative;
	width : 200px;
	margin:auto;
}

.showcase{
	text-align:center;
	padding-top:60px;
}

.showcase h1{
font-size : 8em;
}

.btn{
font-size: 1.5em;
}
.links{
	padding:30px 0;
}

.main-nav{
	padding-top:50px;
}

.main-nav h1{
	padding-bottom:20px;
}

footer{
  height : 100%;
	min-height:250px;
	color:#ccc;
	font-size:1.5em;
}

.dark-bg {
  background: fixed url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/random_grey_variations.png' );  
}
footer a{
	color:white;
}

footer a:hover{
	color:white;
}


footer img{
	display:block;
	position:relative;
	margin:5px auto 20px auto;
}

.center{
	text-align:center;
}

footer li, footer p{
	margin : 0;
	padding : 7px;
}

ul.links i {
  font-size: 25px;
}